# macOS sistem dosyaları
.DS_Store

# Önce her şeyi engelle
*

# Klasörlerin taranmasına izin ver (Hiyerarşiyi bozmamak için)
!*/

# Takip edilmesini istediğin dosya türlerini beyaz listeye al
!*.cpp
!*.h
!*.hpp
!*.py
!*.txt
!*.ino
!.gitignore